@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Roboto", sans-serif;
}

a.active {
  @apply bg-linear-to-r from-[#11998e] via-[#38ef7d] to-[#0fd850];
}
